@font-face {
    font-family: Quicksand;
    src: url('Quicksand_Book.otf') format('opentype');
}

@font-face {
    font-family: Quicksand;
    font-style: italic;
    src: url('Quicksand_Book_Oblique.otf') format('opentype');
}

@font-face {
    font-family: Quicksand;
    font-weight: bold;
    src: url('Quicksand_Bold.otf') format('opentype');
}

@font-face {
    font-family: Quicksand;
    font-style: italic;
    font-weight: bold;
    src: url('Quicksand_Bold_Oblique.otf') format('opentype');
}

@font-face {
    font-family: Quicksand;
    font-weight: 300;
    src: url('Quicksand_Light.otf') format('opentype');
}

@font-face {
    font-family: Quicksand;
    font-style: italic;
    font-weight: 300;
    src: url('Quicksand_Light_Oblique.otf') format('opentype');
}