html,
body {
  font-family: 'CooperHewitt';
  font-size: 12pt;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #222;
}
#menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 48px;
}
#menu .main-menu {
  width: 48px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: auto;
}
#menu .main-menu .sidemenu {
  width: 48px;
  height: 100%;
  background-color: #000;
}
#menu .main-menu .sidemenu .menu-item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#menu .main-menu .sidemenu .bottomicons .menu-item {
  height: 48px;
}
#menu .main-menu .menu-content {
  flex: 1;
  height: 100%;
}
#appcontent {
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  right: 0;
}
#appcontent #contentwrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  bottom: 48px;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper {
  width: 100%;
  height: 100%;
  transition-delay: 80ms;
  transition: opacity 100ms ease-out;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content > .pagecontrol {
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #nowplaying {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translate(0, calc(100% - 48px));
  transition: transform 160ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#appcontent #contentwrapper #nowplaying #nowplayingbar {
  width: 100%;
  height: 48px;
}
body.unconnected #menu {
  display: none;
}
body.unconnected #appcontent {
  left: 0;
}
body.unconnected #appcontent #contentwrapper #pageshostwrapper {
  bottom: 0;
}
body.unconnected #appcontent #contentwrapper #nowplaying {
  transform: translate(0, 100%);
}
#nowplaying {
  display: -ms-grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
  background-color: rgba(17, 17, 17, 0.9);
}
#nowplaying #nowplayingcontent {
  -ms-grid-row: 2;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr auto;
  border-top: 1px solid #666;
}
#nowplaying #nowplayingcontent .menubar {
  display: none;
}
#nowplaying #nowplayingcontent .remote {
  -ms-grid-column: 2;
  width: 350px;
  background-color: rgba(20, 20, 20, 0.5);
}
.fragment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: auto;
}
.fragment > header[role=banner] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #12b2e7;
  color: white;
  height: 48px;
  padding: 0 1rem;
}
.fragment > header[role=banner] .titlearea {
  flex: 1;
  font-size: 1.5rem;
}
.fragment > header[role=banner] h2 {
  font-size: 1.1rem;
}
.fragment > header[role=banner] .actions button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 14pt;
}
.fragment > section[role=main] {
  flex: 1;
}
.nowplaying-expanded #appcontent #contentwrapper #nowplaying {
  transform: none;
  /*.nowplayingbar{
        background-color: @kodiBlue;
    }*/
}
.screenmenu {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  visibility: hidden;
}
.screenmenu .menuoverlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.screenmenu.visible {
  visibility: visible;
}
.screenmenu.visible .menuoverlay {
  opacity: 1;
}
.screenmenu.visible .menu {
  transform: scale(1, 1);
  opacity: 1;
}
.screenmenu .menu {
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 56px;
  opacity: 0;
  transform: scale(0.9, 0.8);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.zoomedoutlist.win-listview .win-surface {
  margin: 60px;
}
.zoomedoutlist.win-listview .semantic-item.win-item {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #12b2e7;
  color: white;
}
.zoomedoutlist.win-listview .semantic-item.win-item h2 {
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 10pt;
  }
  #nowplaying #nowplayingcontent {
    -ms-grid-row: 2;
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: 1fr;
  }
  #nowplaying #nowplayingcontent .menubar {
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
    border-bottom: 1px solid #444;
  }
  #nowplaying #nowplayingcontent .menubar .menu {
    color: #777;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }
  #nowplaying #nowplayingcontent .menubar .menu:nth-child(2) {
    -ms-grid-column: 2;
  }
  #nowplaying #nowplayingcontent .menubar .menu.selected {
    background-color: rgba(90, 90, 90, 0.5);
    color: white;
  }
  #nowplaying #nowplayingcontent > .panel {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    /*transition: transform 350ms @easeOutBack;*/
  }
  #nowplaying #nowplayingcontent > .panel#nowplaying-remote {
    transform: translate(-100%, 0);
  }
  #nowplaying #nowplayingcontent > .panel#nowplaying-remote.selected {
    transform: none;
  }
  #nowplaying #nowplayingcontent > .panel.selected {
    transform: none;
  }
}
.blink.tap {
  transition: background-color 300ms ease;
}
.blink.tap.tap-working {
  animation: workingblink;
  animation-delay: 150ms;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}
.blink.tap.tap-error {
  background-color: indianred;
  border-color: indianred;
  color: white;
}
@keyframes workingblink {
  50% {
    background-color: gold;
    border-color: gold;
    color: white;
  }
}
