html,
body {
  font-family: 'CooperHewitt';
  font-size: 12pt;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #222;
}
#menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
}
#menu .main-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: auto;
}
#menu .main-menu .sidemenu {
  width: 48px;
  height: 100%;
  background-color: #000;
}
#menu .main-menu .sidemenu .menu-item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#menu .main-menu .sidemenu .bottomicons .menu-item {
  height: 48px;
}
#menu .main-menu .menu-content {
  flex: 1;
  height: 100%;
}
#appcontent {
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  right: 0;
}
#appcontent #contentwrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  bottom: 48px;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper {
  width: 100%;
  height: 100%;
  transition-delay: 80ms;
  transition: opacity 100ms ease-out;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content > .pagecontrol {
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #nowplaying {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
}
#appcontent #contentwrapper #nowplaying #nowplayingbar {
  width: 100%;
  height: 48px;
}
body.unconnected #menu {
  display: none;
}
body.unconnected #appcontent {
  left: 0;
}
body.unconnected #appcontent #contentwrapper #pageshostwrapper {
  bottom: 0;
}
body.unconnected #appcontent #contentwrapper #nowplaying {
  bottom: -48px;
}
#nowplaying {
  display: -ms-grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
  background-color: rgba(17, 17, 17, 0.9);
}
#nowplaying #nowplayingcontent {
  -ms-grid-row: 2;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr auto;
}
#nowplaying #nowplayingcontent .remote {
  -ms-grid-column: 2;
  width: 350px;
  background-color: rgba(20, 20, 20, 0.5);
}
.fragment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: auto;
}
.fragment > header[role=banner] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #12b2e7;
  color: white;
  height: 48px;
  padding: 0 1rem;
}
.fragment > header[role=banner] .titlearea {
  flex: 1;
  font-size: 1.5rem;
}
.fragment > header[role=banner] h2 {
  font-size: 1.1rem;
}
.fragment > section[role=main] {
  flex: 1;
}
.nowplaying-expanded #appcontent #contentwrapper #nowplaying {
  height: auto;
  top: 0;
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 10pt;
  }
}
