h1,
h2,
h3 {
  font-weight: 300;
}
input[type=range] {
  height: 12px;
}
input[type=range]::-ms-fill-lower {
  background-color: #12b2e7;
}
input[type=range]::-ms-fill-upper {
  background-color: #444;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #12b2e7;
  background-color: #111;
  box-sizing: border-box;
}
input[type=range]::-ms-track {
  height: 2px;
  color: transparent;
  border: none;
}
