.pagefiles header[role=banner] {
  padding: 0;
}
.pagefiles header[role=banner] .bc {
  font-family: 'Segoe UI Symbol';
  color: white;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  transition: opacity 200ms ease-out;
}
.pagefiles header[role=banner] .bc:disabled {
  opacity: 0.2;
}
.pagefiles section[role=main] {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
  width: 100%;
  height: 100%;
}
.pagefiles section[role=main] #filesList {
  position: relative;
  width: 100%;
  height: 100%;
}
.pagefiles section[role=main] #filesList.win-listview .win-surface {
  margin-top: 5px;
}
.pagefiles section[role=main] #filesList.win-listview > .win-vertical .win-container {
  margin: 0 5px 5px 5px;
}
.pagefiles section[role=main] #filesList.win-listview .win-itemcontainer .win-itembox {
  background-color: #2A2A2A;
}
.pagefiles section[role=main] #filesList .file-item {
  position: relative;
  overflow: hidden;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.pagefiles section[role=main] #filesList .file-item .picto {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #999;
  background-color: #444;
  flex-shrink: 0;
}
.pagefiles section[role=main] #filesList .file-item .picto .thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 0;
  top: 0;
}
.pagefiles section[role=main] #filesList .file-item .label {
  flex: 1;
  padding: 8px 16px;
  /*white-space: nowrap;
                    text-overflow: ellipsis;*/
}
.pagefiles section[role=main] #filesList .file-item .actions {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.94);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: right;
  padding: 4px 8px;
  box-sizing: border-box;
}
.pagefiles section[role=main] #filesList .file-item .actions button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  font-size: 16pt;
  border: 1px solid #12b2e7;
  color: white;
  background-color: transparent;
  color: #12b2e7;
  margin-right: 10px;
}
.pagefiles section[role=main] #filesList .file-item.showActions .actions {
  transform: translateY(0);
}
.pagefiles section[role=main] #mediacontainer {
  background-color: #222;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.pagefiles section[role=main] #mediacontainer .mediaitem {
  text-transform: uppercase;
  padding: 8px 16px;
  margin-bottom: 5px;
  background-color: #2A2A2A;
  font-size: 1.2rem;
}
