.movieslist .movie {
  width: 280px;
  height: 400px;
  position: relative;
}
.movieslist .movie .bg,
.movieslist .movie .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
