.page-movieslist .movieslist .movie {
  width: 280px;
  height: 400px;
  position: relative;
  background-color: #111;
}
.page-movieslist .movieslist .movie .bg,
.page-movieslist .movieslist .movie .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.page-movieslist .movieslist .movie .bg.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-movieslist .movieslist .movie .bg.pic {
  transition: opacity 160ms ease-in;
  opacity: 0;
}
.page-movieslist .movieslist .movie .bg.pic.imageLoaded {
  opacity: 1;
}
.page-movieslist.view-wall .win-listview .win-gridlayout .win-container {
  margin: 0 1px 1px 0;
}
.page-movieslist.view-wall .win-listview .win-vertical .win-gridlayout.win-surface {
  margin: 0;
}
