.page-settings section[role=main] {
  padding: 40px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.page-settings section[role=main] .settingdetail {
  margin-top: 2rem;
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;
}
.page-settings section[role=main] .settingdetail .item {
  padding: 8px 16px;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.page-settings section[role=main] .settingdetail .item:last-child {
  border: none;
}
@media screen and (max-width: 800px) {
  .page-settings section[role=main] {
    padding: 20px;
  }
}
