.page-serverdetail {
  padding: 60px;
}
.page-serverdetail .actions {
  text-align: right;
}
.page-serverdetail .actions button {
  font-size: 20pt;
  color: white;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .page-serverdetail {
    padding: 40px;
  }
}
@media screen and (max-width: 800px) {
  .page-serverdetail {
    padding: 20px;
  }
}
