.page-serverdetail {
  padding: 60px;
}
.page-serverdetail .actions {
  text-align: right;
}
.page-serverdetail .actions button {
  font-size: 20pt;
  color: white;
  border: none;
  background-color: transparent;
}
