.page-tvshowslist .tvshowslist .tvshow {
  width: 280px;
  height: 400px;
  background-color: #111;
  position: relative;
}
.page-tvshowslist .tvshowslist .tvshow .played {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  background-color: #ffd700;
  color: black;
}
.page-tvshowslist .tvshowslist .tvshow .bg,
.page-tvshowslist .tvshowslist .tvshow .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.page-tvshowslist .tvshowslist .tvshow .bg.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-tvshowslist .tvshowslist .tvshow .bg.pic {
  transition: opacity 160ms ease-in;
  opacity: 0;
}
.page-tvshowslist .tvshowslist .tvshow .bg.pic.imageLoaded {
  opacity: 1;
}
