.nowplayingbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  background-color: #111;
  color: #444;
}
.nowplayingbar .cmd {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: inherit;
  font-size: inherit;
}
.nowplayingbar .playercommands {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .playercommands .playercommands-items {
  height: 100%;
  font-size: 18pt;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .actions {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .actions .btntoggle {
  font-size: 30pt;
}
