.nowplayingbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  background-color: #111;
  color: #777777;
}
.nowplayingbar .cmd {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 46px;
  color: inherit;
  font-size: inherit;
}
.nowplayingbar .spacer {
  flex: 1;
}
.nowplayingbar .desc {
  flex: 1;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr;
}
.nowplayingbar .desc .thumb {
  height: 100%;
  margin-right: 10px;
  max-width: 80px;
}
.nowplayingbar .desc .desc-progress {
  -ms-grid-column: 2;
  color: white;
  width: 100%;
  font-size: 9pt;
}
.nowplayingbar .desc .desc-progress #rangeSeek {
  display: block;
  width: 100%;
}
.nowplayingbar .desc .desc-progress .progress {
  width: 100%;
  height: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #444;
}
.nowplayingbar .desc .desc-progress .progress .progressTrack {
  height: 100%;
  max-width: 100%;
  width: 0;
  background-color: #AAA;
}
.nowplayingbar .desc .desc-progress .progresstime {
  margin-top: -2px;
  font-size: 8pt;
  color: #AAA;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .desc .desc-progress .progresstime .ellapsed {
  flex: 1;
}
.nowplayingbar .playercommands {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .playercommands .playercommands-items {
  height: 100%;
  font-size: 18pt;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .actions {
  height: 100%;
  justify-content: flex-end;
  margin-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nowplayingbar .actions .btntoggle {
  font-size: 30pt;
  margin: 0;
  background-color: black;
}
@media screen and (max-width: 800px) {
  .nowplayingbar .playercommands,
  .nowplayingbar .spacer {
    display: none;
  }
}
