.page-error {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.page-error .content {
  -ms-grid-column-align: center;
  width: 600px;
  max-width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.page-error .content .logo {
  margin-top: 40px;
}
.page-error .content .logo img {
  width: 100%;
}
.page-error .content .details {
  margin-top: 1em;
}
.page-error .content .details .version {
  font-size: 1.4rem;
}
.page-error .content .details .support {
  margin-top: 1em;
}
