h1,
h2,
h3 {
  font-weight: 300;
}
input[type=range] {
  height: 12px;
}
input[type=range]::-ms-fill-lower {
  background-color: #12b2e7;
}
input[type=range]::-ms-fill-upper {
  background-color: #444;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #12b2e7;
  background-color: #111;
  box-sizing: border-box;
}
input[type=range]::-ms-track {
  height: 2px;
  color: transparent;
  border: none;
}
html,
body {
  font-family: 'CooperHewitt';
  font-size: 12pt;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #222;
}
#menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 48px;
}
#menu .main-menu {
  width: 48px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: auto;
}
#menu .main-menu .sidemenu {
  width: 48px;
  height: 100%;
  background-color: #000;
}
#menu .main-menu .sidemenu .menu-item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#menu .main-menu .sidemenu .bottomicons .menu-item {
  height: 48px;
}
#menu .main-menu .menu-content {
  flex: 1;
  height: 100%;
}
#appcontent {
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  right: 0;
}
#appcontent #contentwrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  bottom: 48px;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost {
  position: relative;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper {
  width: 100%;
  height: 100%;
  transition-delay: 80ms;
  transition: opacity 100ms ease-out;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #pageshostwrapper #pageshost > .pagecontrolproxy > .mcn-fowrapper .mcn-fowrapper-content > .pagecontrol {
  width: 100%;
  height: 100%;
}
#appcontent #contentwrapper #nowplaying {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translate(0, calc(100% - 48px));
  transition: transform 160ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#appcontent #contentwrapper #nowplaying #nowplayingbar {
  width: 100%;
  height: 48px;
}
body.unconnected #menu {
  display: none;
}
body.unconnected #appcontent {
  left: 0;
}
body.unconnected #appcontent #contentwrapper #pageshostwrapper {
  bottom: 0;
}
body.unconnected #appcontent #contentwrapper #nowplaying {
  transform: translate(0, 100%);
}
#nowplaying {
  display: -ms-grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
  background-color: rgba(17, 17, 17, 0.9);
}
#nowplaying #nowplayingcontent {
  -ms-grid-row: 2;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr auto;
  border-top: 1px solid #666;
}
#nowplaying #nowplayingcontent .menubar {
  display: none;
}
#nowplaying #nowplayingcontent .remote {
  -ms-grid-column: 2;
  width: 350px;
  background-color: rgba(20, 20, 20, 0.5);
}
.fragment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: auto;
}
.fragment > header[role=banner] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #12b2e7;
  color: white;
  height: 48px;
  padding: 0 1rem;
}
.fragment > header[role=banner] .titlearea {
  flex: 1;
  font-size: 1.5rem;
}
.fragment > header[role=banner] h2 {
  font-size: 1.1rem;
}
.fragment > header[role=banner] .actions button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 14pt;
}
.fragment > section[role=main] {
  flex: 1;
}
.nowplaying-expanded #appcontent #contentwrapper #nowplaying {
  transform: none;
  /*.nowplayingbar{
        background-color: @kodiBlue;
    }*/
}
.screenmenu {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  visibility: hidden;
}
.screenmenu .menuoverlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.screenmenu.visible {
  visibility: visible;
}
.screenmenu.visible .menuoverlay {
  opacity: 1;
}
.screenmenu.visible .menu {
  transform: scale(1, 1);
  opacity: 1;
}
.screenmenu .menu {
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 56px;
  opacity: 0;
  transform: scale(0.9, 0.8);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.zoomedoutlist.win-listview .win-surface {
  margin: 60px;
}
.zoomedoutlist.win-listview .semantic-item.win-item {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #12b2e7;
  color: white;
}
.zoomedoutlist.win-listview .semantic-item.win-item h2 {
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 10pt;
  }
  #nowplaying #nowplayingcontent {
    -ms-grid-row: 2;
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: 1fr;
  }
  #nowplaying #nowplayingcontent .menubar {
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
    border-bottom: 1px solid #444;
  }
  #nowplaying #nowplayingcontent .menubar .menu {
    color: #777;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }
  #nowplaying #nowplayingcontent .menubar .menu:nth-child(2) {
    -ms-grid-column: 2;
  }
  #nowplaying #nowplayingcontent .menubar .menu.selected {
    background-color: rgba(90, 90, 90, 0.5);
    color: white;
  }
  #nowplaying #nowplayingcontent > .panel {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    /*transition: transform 350ms @easeOutBack;*/
  }
  #nowplaying #nowplayingcontent > .panel#nowplaying-remote {
    transform: translate(-100%, 0);
  }
  #nowplaying #nowplayingcontent > .panel#nowplaying-remote.selected {
    transform: none;
  }
  #nowplaying #nowplayingcontent > .panel.selected {
    transform: none;
  }
}
.blink.tap {
  transition: background-color 300ms ease;
}
.blink.tap.tap-working {
  animation: workingblink;
  animation-delay: 150ms;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}
.blink.tap.tap-error {
  background-color: indianred;
  border-color: indianred;
  color: white;
}
@keyframes workingblink {
  50% {
    background-color: gold;
    border-color: gold;
    color: white;
  }
}
.album-item {
  height: 80px;
  width: 500px;
  background-color: #333;
  margin-right: 1px;
  margin-bottom: 1px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.album-item .cover {
  height: 80px;
  width: 90px;
  background-color: #444;
  position: relative;
  flex-shrink: 0;
}
.album-item .cover .btpo-music {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 100px;
  font-size: 30pt;
  color: #555;
}
.album-item .cover .pic {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 160ms ease;
}
.album-item .cover .pic.imageLoaded {
  opacity: 1;
}
.album-item .desc {
  padding: 10px;
}
.album-item .desc .title {
  font-weight: 500;
  font-size: 1rem;
}
.album-item .desc .artist {
  color: #777;
}
.song {
  padding: 4px 8px;
  border-bottom: 1px solid #555;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.song .desc {
  color: #777;
  flex: 1;
}
.song .desc .title {
  font-size: 1.0rem;
  font-weight: 500;
  color: white;
}
.song .desc .duration {
  font-size: 0.8rem;
}
.song .song-actions {
  flex-shrink: 0;
}
.tvshow-episode {
  width: 25%;
  position: relative;
}
.tvshow-episode > .tvshow-episode {
  width: 100%;
  height: 100%;
}
.tvshow-episode .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.tvshow-episode .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
}
.tvshow-episode .content .showtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #CCC;
}
.serveritem {
  padding: 6px 16px;
  background-color: rgba(60, 60, 60, 0.8);
  margin-bottom: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.serveritem.current {
  background-color: rgba(18, 178, 231, 0.7);
}
.serveritem.current button {
  border-color: white;
  color: white;
}
.serveritem .name {
  flex: 1;
}
.serveritem button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 41px;
  border: 1px solid #12b2e7;
  background-color: transparent;
  font-size: 16pt;
  color: #12b2e7;
  margin-left: 10px;
  transition: background-color 100ms ease, color 100ms ease, border-color 100ms ease;
}
.serveritem button.working {
  background-color: #12b2e7;
  border-color: white;
  color: white;
}
.genrepickerctrl {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
.genrepickerctrl .btnclose {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 20pt;
}
.genrepickerctrl .genre-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: auto;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
  padding: 60px;
}
.genrepickerctrl .genre-items .genre {
  min-width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  padding: 0.5em 1em;
  background-color: rgba(60, 60, 60, 0.3);
}
.genrepickerctrl .genre-items .genre.genre-all {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .genrepickerctrl .genre-items {
    padding: 60px 20px 20px 20px;
  }
  .genrepickerctrl .genre-items .genre {
    width: 100%;
  }
}
.remote-controller {
  padding: 20px 40px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.remote-controller button {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 18pt;
  border: none;
  background-color: transparent;
  color: #777777;
  padding: 0;
  box-sizing: border-box;
}
.remote-controller .system-menu button,
.remote-controller .main-menus button {
  margin: 0 10px;
}
.remote-controller .system-menu button:first-child,
.remote-controller .main-menus button:first-child {
  margin-left: 0;
}
.remote-controller .system-menu button:last-child,
.remote-controller .main-menus button:last-child {
  margin-right: 0;
}
.remote-controller .system-menus {
  text-align: right;
}
.remote-controller .main-menus {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.remote-controller .navigation {
  margin-top: 10px;
  margin-bottom: 10px;
}
.remote-controller .navigation .wheel {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -ms-grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}
.remote-controller .navigation .wheel .wheelbtn {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  width: 60px;
  height: 60px;
  line-height: 68px;
  font-size: 30pt;
  color: #222;
}
.remote-controller .navigation .wheel .btpo-rewind {
  -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  margin-left: -36px;
}
.remote-controller .navigation .wheel .btpo-menu {
  -ms-grid-row-align: start;
  -ms-grid-column-align: end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  margin-right: -36px;
}
.remote-controller .navigation .wheel .btpo-info {
  -ms-grid-row-align: end;
  -ms-grid-column-align: start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  margin-left: -36px;
}
.remote-controller .navigation .wheel .btpo-chevron-up {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.remote-controller .navigation .wheel .btpo-chevron-down {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.remote-controller .navigation .wheel .btpo-chevron-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.remote-controller .navigation .wheel .btpo-chevron-right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.remote-controller .navigation .wheel .btpo-check {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  background-color: #333;
  color: white;
  border-radius: 50%;
}
.remote-controller .playercommands {
  margin-top: 10px;
}
.remote-controller .playercommands .playercommands-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.remote-controller .playercommands .playercommands-items button {
  margin: 0 10px;
  color: #555;
}
.remote-controller .playercommands .playercommands-items button:first-child {
  margin-left: 0;
}
.remote-controller .playercommands .playercommands-items button:last-child {
  margin-right: 0;
}
.remote-controller .languagescontrol {
  margin-top: 10px;
}
.remote-controller .languagescontrol .lngitem {
  display: -ms-grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 80px 1fr;
  margin-bottom: 3px;
}
.remote-controller .languagescontrol .lngitem label {
  display: block;
}
.remote-controller .languagescontrol .lngitem select {
  -ms-grid-column: 2;
  background-color: transparent;
  border: 1px solid #555;
  color: white;
}
.remote-controller .languagescontrol .lngitem select:focus {
  background-color: white;
  color: black;
}
.remote-controller .itemlabel {
  font-weight: 500;
  font-size: 1.1rem;
}
.remote-controller .seekprogress input[type=range] {
  display: block;
  width: 100%;
}
.remote-controller .seekprogress .timing {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: -2px;
  font-size: 9pt;
  color: #AAA;
}
.remote-controller .seekprogress .timing .ellapsed {
  flex: 1;
}
.remote-controller .volume {
  display: -ms-grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto 1fr;
  width: 100%;
}
.remote-controller .volume input[type=range] {
  margin-left: 10px;
  -ms-grid-column: 2;
  -ms-grid-row-align: center;
  width: 100%;
}
.menu-flyout {
  border: 1px solid #12b2e7;
}
.menu-flyout button {
  display: block;
  width: 250px;
  margin-bottom: 10px;
  color: #12b2e7;
  outline: none;
}
.menu-flyout button:hover {
  background-color: rgba(20, 20, 20, 0.5);
}
.menu-flyout button.selected {
  background-color: #12b2e7;
  color: white;
}
.playingcontent {
  overflow: hidden;
}
.playingcontent > .pagecontrol {
  width: 100%;
  height: 100%;
}
.playingcontent .page-moviesdetail .actions {
  display: none;
}
.playingcontent .emptyplaying {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
}
.playingcontent .emptyplaying .content {
  opacity: 0.15;
  max-width: 400px;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  text-align: center;
}
.playingcontent .emptyplaying .content img {
  width: 100%;
}
.playlistcontrol {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.playlistcontrol .playlist-item {
  padding: 4px 16px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.playlistcontrol .playlist-item.current {
  background-color: rgba(90, 90, 90, 0.4);
}
.playlistcontrol .playlist-item.current:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
.playlistcontrol .playlist-item:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
.playlistcontrol .playlist-item .thumbnail {
  height: 40px;
  margin-right: 10px;
  flex-shrink: 0;
}
.playlistcontrol .playlist-item .desc {
  flex: 1;
  margin-right: 10px;
}
.playlistcontrol .playlist-item .desc .title {
  font-weight: 500;
  line-height: 1.2em;
  font-size: 1rem;
}
.playlistcontrol .playlist-item .desc .album {
  color: #777;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2em;
}
.playlistcontrol .playlist-item .actions {
  flex-shrink: 0;
}
.playlistcontrol .playlist-item .actions button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 42px;
  border: 1px solid #12b2e7;
  background-color: transparent;
  color: #12b2e7;
  margin-right: 10px;
  font-size: 16pt;
}
.playlistcontrol .playlist-item .actions button:last-child {
  margin-right: 0;
}
.reactplaylistcontrol {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.reactplaylistcontrol .playlist-item {
  padding: 4px 16px;
  border-bottom: 1px solid #333;
  transition: background-color 200ms ease-out;
  opacity: 1;
  transform: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.reactplaylistcontrol .playlist-item.current {
  background-color: rgba(90, 90, 90, 0.4);
}
.reactplaylistcontrol .playlist-item.current:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
.reactplaylistcontrol .playlist-item:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
.reactplaylistcontrol .playlist-item .thumbnail {
  height: 40px;
  margin-right: 10px;
  flex-shrink: 0;
}
.reactplaylistcontrol .playlist-item .desc {
  flex: 1;
  margin-right: 10px;
}
.reactplaylistcontrol .playlist-item .desc .title {
  font-weight: 500;
  line-height: 1.2em;
  font-size: 1rem;
}
.reactplaylistcontrol .playlist-item .desc .album {
  color: #777;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2em;
}
.reactplaylistcontrol .playlist-item .actions {
  flex-shrink: 0;
  margin-right: 10px;
}
.reactplaylistcontrol .playlist-item .actions button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 42px;
  border: 1px solid #12b2e7;
  background-color: transparent;
  color: #12b2e7;
  margin-right: 10px;
  font-size: 16pt;
}
.reactplaylistcontrol .playlist-item .actions button:last-child {
  margin-right: 0;
}
