.settingsformcontrol .formfield {
  margin-bottom: 0.4rem;
}
.settingsformcontrol .formfield label {
  display: block;
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-top: 2px;
  color: #666666;
}
.settingsformcontrol .formfield input[type=text],
.settingsformcontrol .formfield input[type=number],
.settingsformcontrol .formfield input[type=password] {
  border: none;
  border-bottom: 1px solid #666;
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}
.settingsformcontrol .formfield input[type=text].error,
.settingsformcontrol .formfield input[type=number].error,
.settingsformcontrol .formfield input[type=password].error {
  border-bottom-color: red;
}
.settingsformcontrol .formfield input[type=text]::-ms-input-placeholder,
.settingsformcontrol .formfield input[type=number]::-ms-input-placeholder,
.settingsformcontrol .formfield input[type=password]::-ms-input-placeholder {
  color: #999;
  font-weight: 300;
}
.settingsformcontrol .formfield.field2 {
  display: -ms-grid;
  -ms-grid-columns: 3fr 1fr;
  -ms-grid-rows: auto;
}
.settingsformcontrol .formfield.field2 > .formfield:nth-child(2) {
  margin-left: 10px;
  -ms-grid-column: 2;
}
.settingsformcontrol .formfield .field6 {
  display: -ms-grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  -ms-grid-rows: auto;
}
.settingsformcontrol .formfield .field6 > input:nth-child(2) {
  -ms-grid-column: 3;
}
.settingsformcontrol .formfield .field6 > input:nth-child(3) {
  -ms-grid-column: 5;
}
.settingsformcontrol .formfield .field6 > input:nth-child(4) {
  -ms-grid-column: 7;
}
.settingsformcontrol .formfield .field6 > input:nth-child(5) {
  -ms-grid-column: 9;
}
.settingsformcontrol .formfield .field6 > input:nth-child(6) {
  -ms-grid-column: 11;
}
