@import "../../../css/apptheme.less";

.page-moviesdetail {
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: auto 1fr;
    width: 100%;
    height: 100%;

    header.fanart {
        -ms-grid-column-span: 2;
        height: 160px;
        position: relative;

        .fanart-bg {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: opacity 200ms ease-in;

            &.imageLoaded {
                opacity: 1;
            }
        }

        .actions{
            position: absolute;
            left:0;
            right: 0;
            bottom: 8px;

            .hflex();
            justify-content: flex-end;

            button, .mcn-elasticbutton{
                @size : 56px;
                width: @size;
                height: @size;
                line-height: @size;
                text-align: center;
                margin-right: 8px;
                border-radius: 50%;

                svg{
                    fill: rgba(40,40,40,0.7);
                    stroke: @kodiBlue;
                    stroke-width: 8px;
                }

                i{
                    font-size : 20pt;
                    color:@kodiBlue;
                }
            }

            button{
                background-color: rgba(40,40,40,0.7);
                border: 2px solid @kodiBlue;
            }
        }
    }

    header.poster {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-row-span: 2;
        box-sizing: border-box;
        padding-left: 40px;
        padding-top: 110px;   
        width: 340px;
        max-width: 30vw;
        
        .poster {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
                     
            opacity: 0;
            transition: opacity 200ms ease-in;
            
            &.imageLoaded {
                opacity: 1;
            }
        }
    }

    section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 40px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .description {
            .movie-title {
                font-size: 1.8rem;
                font-weight: 600;
            }

            .movie-tagline {
                font-size: 1.1rem;
                font-weight: 500;
                color: #BBB;
            }

            .movie-plot {
                font-size: 1.3rem;
                margin-top: 1em;
            }
        }
    }
}
